[submodule "bert_pretraining/bert"]
	path = bert_pretraining/bert
	url = https://github.com/onurgu/bert.git
[submodule "bert_pretraining/bert_google"]
	path = bert_pretraining/bert_google
	url = https://github.com/haozturk/bert.git
