{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	

	<div class="spellchecker">

		<h1>de-da Yazım Hatası Bulucu</h1>

		<div class="select-box">
    
		  <label for="dropdown" class="label select-box1"><span class="label-desc">Örnek bir cümle seçin.</span> </label>
		  <select id="dropdown" class="select">
		    <option value="Ekran da Tarkan'ı gören seyirciler çok heyecanlandı.">Ekran da Tarkan'ı gören seyirciler çok heyecanlandı.</option>
		    <option value="Gördük ki evden çıkmadanda hayat devam ediyor.">Gördük ki evden çıkmadanda hayat devam ediyor.</option>
		    <option value="Yazım denetleyicisini onlar da çok beğendi.">Yazım denetleyicisini onlar da çok beğendi.</option>
		  </select>
		    
		</div>

		

		<form method="POST">
        	{% csrf_token %}

            <textarea  style="width: 80%;" name="sentence" rows="4" cols="50"  id="sentence" placeholder="Denemek için içinde de/da ek ya da bağlacı geçen bir cümle yazın..."></textarea>

		    <!--<p>Cümle: <input style="width: 500px" type="text" name="sentence"></p>-->

		    <br>
		    <br>

		    <p><input class="btn btn-outline-info mb-4" type="submit" value="Denetle"></p>
		</form>

    </div>

  

<script type="text/javascript">
	
var mytextbox = document.getElementById('sentence');
var mydropdown = document.getElementById('dropdown');

mydropdown.onchange = function(){
     mytextbox.value = this.value;
}
</script>

{% endblock content %}
