{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	

	<div class="spellchecker">

		<h1>-de/-da Yazım Hatası Bulucu</h1>

		<br>
        <br>

		{% if labeled_words %}
			<div class="spellchecker_answer">

				{% for entry in labeled_words %}

					{% if entry.label == True %}

						<span style="background: #f06b81; font-size:3vh" >{{entry.word}}</span>

					{% else %}

						<span style="font-size:3vh">{{entry.word}}</span>

					{% endif %}

				{% endfor  %}

			</div>

			<br/>
			<div >
				<a  href=" {% url 'spellchecker_query' %} " class="btn btn-outline-info mb-4">Başka bir cümle dene</a>
			</div>
			<br/>
			<div class="alert alert-primary" role="alert">
			  http://dedatakintisi.derlem.com{% url 'spellchecker_query' %}?sentence={{ sentence|urlencode }}
			</div>

		{% else %}

			<form method="POST">
				{% csrf_token %}

				<textarea  class="spellchecker_query" name="sentence" rows="4" cols="50"  id="sentence" placeholder="Denemek için içinde de/da ek ya da bağlacı geçen bir cümle yazın..."></textarea>

				<!--<p>Cümle: <input style="width: 500px" type="text" name="sentence"></p>-->

				<br>
				<br>

				<p><input class="btn btn-outline-info mb-4" type="submit" value="Denetle"></p>
			</form>

		{% endif %}

    </div>

	{% if not labeled_words %}
		<div class="select-box">
    
		  <label for="dropdown" class="label select-box1"><span class="label-desc">Örnek bir cümle seçin.</span> </label>
		  <select id="dropdown" class="select">
		  	<option value=""></option>
		    <option value="Ekran da Tarkan'ı gören seyirciler çok heyecanlandı.">Ekran da Tarkan'ı gören seyirciler çok heyecanlandı.</option>
		    <option value="Gördük ki evden çıkmadanda hayat devam ediyor.">Gördük ki evden çıkmadanda hayat devam ediyor.</option>
		    <option value="Yazım denetleyicisini onlarda çok beğendi.">Yazım denetleyicisini onlarda çok beğendi.</option>
		  </select>
		    
		</div>
	{% endif %}

<script type="text/javascript">
	
var mytextbox = document.getElementById('sentence');
var mydropdown = document.getElementById('dropdown');

mydropdown.onchange = function(){
     mytextbox.value = this.value;
}
</script>

{% endblock content %}
