{% extends 'game/base.html' %}
{% load static %}
{% block content %}

    <div class="spellchecker">

        <h1>Yazım Denetleyicisi</h1>

        <br>
        <br>

        <div >

            {% for entry in labeled_words %}

                {% if entry.label == True %}

                    <span style="background: #f06b81">{{entry.word}}</span>

                {% else %}

                    {{entry.word}}

                {% endif %}

            {% endfor  %}

        </div>

        <br>

        <div >


            <form method="POST">
                {% csrf_token %}

                <button type="submit" name="isHappy" value="True" >
                    <img src="{% static 'spellchecker/like.png' %}" alt="[scissors]" width="20" height="30"/>
                </button>
                <button type="submit" name="isHappy" value="False">
                    <img src="{% static 'spellchecker/dislike.png' %}" alt="[scissors]" width="20" height="30"/>
                </button>

            </form>
            <a  href=" {% url 'spellchecker_query' %} " class="btn btn-outline-info mb-4">Başka bir cümle dene</a>
        </div>  
    </div>

{% endblock content %}
