{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	

	<div class="spellchecker">

		<h1>Yazım Denetleyicisi</h1>

		<br>
		<br>


		<form method="POST">
        	{% csrf_token %}

            <textarea  style="width: 80%;" name="sentence" rows="4" cols="50"  name="sentence" placeholder="Denemek için içinde de/da ek ya da bağlacı geçen bir cümle yazın..."></textarea>

		    <!--<p>Cümle: <input style="width: 500px" type="text" name="sentence"></p>-->

		    <br>
		    <br>

		    <p><input class="btn btn-outline-info mb-4" type="submit" value="Denetle"></p>
		</form>

	</div>

{% endblock content %}
