{% extends 'game/base.html' %}
{% load static %}
{% block content %}

    <div class="spellchecker">

        <h1>-de/-da Yazım Denetleyicisi</h1>

        <br>
        <br>

        <div >

            {% for entry in labeled_words %}

                {% if entry.label == True %}

                    <span style="background: #f06b81">{{entry.word}}</span>

                {% else %}

                    {{entry.word}}

                {% endif %}

            {% endfor  %}

        </div>

        <br>

        <div >


            <a  href=" {% url 'spellchecker_query' %} " class="btn btn-outline-info mb-4">Başka bir cümle dene</a>
        </div>  
    </div>

{% endblock content %}
