body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.textdiv{
  display:inline-block;
  position:relative;
}

.textbutton{
  background-color: #f73106 ;
  color: white;
  position:absolute;
  bottom:10px;
  right:10px;
}

.progressdiv {
  position: absolute;
  top: 75px;
  right: 30px;
  padding: 20px;
  width: 250px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid #06ecf7;
}

.questiondiv {
  position: absolute;
  background-color: white ;
  color: black;
  top: 300px;
  right: 30px;
  left: 30px;
  border-radius: 25px;
  border: 2px solid #73AD21;
  z-index: 10;

}

.centeritems{
  text-align: center;
}

.reportdiv{

  position: absolute;
  top: 500px;
  right: 30px;
  left: 30px;

}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.logo {

  position: absolute;
  top: 75px;
  left: 75px;

}

.content {
    top: 80px;
    left: 0px;
    table-layout: fixed;
    border-collapse: collapse;
    z-index: 20;
    position:absolute;
}

.highlight_text {
  background-color:#FFFF00;
}

.mode_label {

  width: 50%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  overflow: hidden;

}

.mode_label_heading {

  margin: 0 auto;
}

.img_help {

  height: 4%;
  width: 4%;

}

.box {
  display: flex;
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  position: relative;
}


.box .tooltiptext {
    visibility: hidden;
    width: 50%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: 1;
}

.box:hover .tooltiptext {
    visibility: visible;
}

.rightbox {
  display: flex;
  width: 20%;
  height: 40%;
  left: 90%;
  //right: 10%;
  //margin: 0 auto;
  //text-align: center;
  position: relative;
}


.rightbox .tooltiptext2 {
    visibility: hidden;
    width: 50%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    //right: 0px;
    top: 50px;
    left: 0px;
    z-index: 1;
}

.rightbox:hover .tooltiptext2 {
    visibility: visible;
}

.img_help2 {

  height: 15%;
  width: 15%;

}

// Branchig view style
<style type="text/css">
        body {
            margin: 0px;
            height: 100vh;
            width: 100vw;
            display: grid;
        }
        .branch_view {
            margin: auto;
            margin-left: 10vh;
            margin-right: 10vh;
            display: flex;
            flex-direction: row;
        }
        
        .left_container {
            display: grid;
            padding: 10px;
            padding-right: 6px;
        }

        .right_container {

        }

        .small_container {
            padding: 6px;
        }

        .left_text {
            margin: auto;
            max-width: 75vw;
        }
        .right_text {
            margin: auto;
            max-width: 75vw;   
        }

        .highlightme {
         background-color:#FFFF00;
        }

        .image_move_left {
          float:left;
          clear:left;
        }
        .image_move_right {
          float:right;
          clear:right;
        }        
        
</style>

.disabled {
  pointer-events: none;
  cursor: default;
}

.spellchecker{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  //border: 1px solid #dddddd;

}