{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
	
	<main role="main" class="container" >
	  <div class="row">
	    <div class="col-md-8">
	    	
	    	<div class="content-section">
				<form method="POST">
					{% csrf_token %}

					<fieldset class="form-group">
						<legend class="border-bottom mb-4">
							Bugün Katıl
						</legend>
						{{ form|crispy }}
						<!--{% crispy form %}-->
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-info", type="submit">Kayıt Ol</button>
					</div>
					
				</form>

				<div class="border-top pt-3">
					<small class="text-muted">
						Zaten bir hesabın var mı? <a class="ml-2" href="{% url 'login' %}">Giriş Yap</a>
					</small>
				</div>

			</div>

	    </div>
	  </div>
	</main>

{% endblock content %}
