{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

	<div class="content">

		<!--
		<img height="315" width="306" src="{% static 'game/canary-bird.png' %}" >
		-->
	</div>
	
	<div class="progressdiv">

		<h4> Success Rate </h4>

		<div class="progress">

 			<div class="progress-bar progress-bar-danger" style="width: {{ success_rate }}%;">
 
 				{{ success_rate }}
 
 			</div>
 		</div>

 		<div>

			<p>  {{ correct_answer_count_for_current_test }}/ {{ solved_question_num }} </p>

		</div>	

	</div>

	<div class="questiondiv">

		<div class="centeritems">

			<p>  {{first_text}} <span class="highlight_text"><b>{{highlighted_text}}</b></span> {{second_text}} </p>
			
		</div>

		<div class="centeritems">

			<a class="btn btn-outline-info mb-4" href=" {% url 'question' %} ">Next Sentence</a>

		</div>	

	</div>

	<div align="center" class="reportdiv">

		<h3>Hata Bildir</h3>
	
		<form  method="POST" id="reportform"> 
   			{% csrf_token %} 
    	
       		<div class="textdiv">

           		<textarea rows="4" cols="50" name="text" form="reportform" placeholder="Hata mesajını giriniz..."></textarea>

           		<button type="submit" class="textbutton">Hata Bildir</button>

       		</div> 	
		</form>

	</div>	
	
{% endblock content %}
