{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

	<div class="content">

		<img height="315" width="306" src="{% static 'game/canary-bird.png' %}" >

	</div>
	
	<div class="progressdiv">

		<h4> Success Rate </h4>

		<div class="progress">

 			<div class="progress-bar progress-bar-danger" style="width: {{ success_rate }}%;">
 
 				{{ success_rate }}
 
 			</div>
 		</div>

 		<div>

			<p>  {{ correct_answer_count }}/ {{ last_seen_sentence_idx }} </p>

		</div>	

	</div>

	<div class="questiondiv">

		<div class="centeritems">

			<p style="font-size:30px">  {{full_text}}  </p>

		</div>

		<div class="centeritems">

			<a class="btn btn-outline-info mb-4" href=" {% url 'question' %} ">Next Sentence</a>

		</div>	

	</div>

	<div align="center" class="reportdiv">

		<h3>Hata Bildir</h3>
	
		<form  method="POST" id="reportform"> 
   			{% csrf_token %} 
    	
       		<div class="textdiv">

           		<textarea rows="4" cols="50" name="text" form="reportform" placeholder="Hata mesajını giriniz..."></textarea>

           		<button type="submit" class="textbutton">Hata Bildir</button>

       		</div> 	
		</form>

	</div>	


	<!--
	<div align="center">

		<p style="font-size:30px">  {{full_text}}  </p>
		<a class="btn btn-outline-info mb-4" href=" {% url 'question' %} ">Next Sentence</a>

		<fieldset >
			
      <h3>Hata Bildir</h3>
			
			<form  method="POST" id="reportform"> 
    			{% csrf_token %} 
    	
          <div class="textdiv">

            <textarea rows="4" cols="50" name="text" form="reportform" placeholder="Hata mesajını giriniz..."></textarea>

            <button type="submit" class="textbutton">Hata Bildir</button>

          </div>

    			

			</form>

		</fieldset>

	</div>

	-->
	
{% endblock content %}
