{% extends 'game/base.html' %}
{% block content %}

	<div class="container">

		<article class="media content-section">
		  <div class="media-body">
		    <!--<h2><a class="article-title" href="#">Onam Formu</a></h2>-->
		    <h2 style="text-align:center" >Araştırma Yönergesi</h2>
		    <p class="article-content">

		    	Merhabalar,

				Türkçedeki “de/da” ek ve bağlaçlarının kullanımını etkileyen faktörleri araştırdığımız deneyimize hoş geldiniz.

				Araştırmamıza başlamadan evvel aşağıdaki "Isınma Turuna Başla" butonuna basarak 5 soruluk testi çözmeniz gerekir. Bu kısa testte "de/da" ek ya da bağlaçlarının doğru ya da yanlış yazılmış hallerini göreceksiniz. Sizin de hangi cümlelerde doğru hangi cümlelerde yanlış yazıldığını tespit etmenizi bekliyoruz.

				Sonrasında "Araştırmaya Başla” butonuna bastıktan sonra 30 soruluk bir testle karşılaşacaksınız. Her bir soru bir Türkçe cümleden oluşur ve her bir cümle en az bir tane “de/da” bağlacı ya da eki içerir. Size cümlenin bir kısmını gösterip bir kısmını göstermeyeceğiz ve sizden elinizdeki kadar bilgi ile “de/da” ek ya da bağlacının doğru yazımını tahmin etmenizi bekleyeceğiz.

				Eğer “de/da”nın birleşik yazılması gerektiğini düşünüyorsanız <b>“Birleşik Yazılmalı”</b>, ayrı yazılması gerektiğini düşünüyorsanız <b>“Ayrı Yazılmalı”</b>, emin değilseniz <b>“Kararsızım”</b>, cevaplamak istemiyorsanız <b>“Bu Cümleyi Geç”</b> butonuna basmanız gerekir.

				Göreceğiniz cümleler dergi, kitap, gazete gibi kaynaklardan otomatik olarak toplanmıştır. O yüzden yapısal ya da anlamsal olarak bozuk cümlelerle karşılaşabilirsiniz. Böyle durumlarda <b>“Hata Bildir”</b> kısmından bir açıklama yaparak ya da yapmayarak böyle durumları bize ulaştırabilirsiniz.

				Bir testte 30 soru vardır ve sınırsız sayıda test çözebilirsiniz. Ne kadar çok test çözerseniz Türkçenin bu müzmin sorununu çözmeye bir o kadar çok yaklaşırız :)

				İyi eğlenceler :)



		    </p>

		    <div style="text-align: center">
		    	

		    	{% if is_warmup_done == True %}

		    		<a class="btn btn-outline-info" href=" {% url 'question' %} ">Araştırmaya Başla!</a>

		    	{% else %}

		    		<a class="btn btn-outline-info"  href=" {% url 'warmup_question' %} ">Isınma Turuna Başla!</a>

		    	{% endif %}


		    </div>

		  </div>
		</article>	

		

	</div>
	
{% endblock content %}
