{% extends 'game/base.html' %}
{% block content %}

	<div class="container">

		<article class="media content-section">
		  <div class="media-body">
		    <!--<h2><a class="article-title" href="#">Onam Formu</a></h2>-->
		    <h2 style="text-align:center" >Araştırma Yönergesi</h2>
		    <p class="article-content">

		    	Merhabalar,  

				Türkçedeki “de/da” ek ve bağlaçlarının yanlış kullanımını etkileyen faktörleri araştırdığımız deneyimize hoş geldiniz. 
				   
				Deneye başlamadan önce sizden aşağıdaki <b>"Isınma Turuna Başla"</b> butonuna basarak deneyi kolaylıkla yapmanıza yardımcı olacak 7 soruluk testi çözmenizi rica ediyoruz. Isınma turundaki her bir soru deney sırasında karşılaşacağınız soruların farklı bir türünden seçilmiştir.

				Isınma turundan sonra <b>"Deneye Başla”</b> butonuna basarak 35 soruluk deneye başlayacaksınız. Deney yaklaşık 15 dakika sürmektedir. 

				Her bir soru en az bir tane “de/da” bağlacı ya da eki içeren bir Türkçe cümleyi temel alır. Bu cümle üzerinde çeşitli değişiklikler yapacağız ve size sunduğumuz seçeneklerden doğru olanını seçmenizi isteyeceğiz. Eğer “de/da”nın bileşik yazılması gerektiğini düşünüyorsanız <b>“Birleşik Yazılmalı”</b>, ayrı yazılması gerektiğini düşünüyorsanız <b>“Ayrı Yazılmalı”</b>, karar verilemeyeceğini düşünüyorsanız <b>“Karar Verilemez”</b>, cevaplamak istemiyorsanız <b>“Bu Cümleyi Geç”</b> butonuna basmanız yeterlidir.

				Karşılaşacağınız cümleler dergi, kitap, gazete gibi kaynaklardan otomatik olarak toplanmıştır. Bu nedenle yapısal ya da anlamsal olarak bozuk cümlelerle karşılaşabilirsiniz. Böyle durumlarda eğer dilerseniz “Hata Bildir” butonuyla bizi haberdar edebilir ve cümleyi geçebilirsiniz. 

				Sizden isteğimiz deneyi en azından bir tur yapmanız olsa da daha fazla tur yaparsanız tüm -de/-da takıntılıları çok mutlu edersiniz!

				Teşekkür ederiz ve iyi eğlenceler!

		    </p>

		    <div style="text-align: center">
		    	

		    	{% if is_warmup_done == True %}

		    		<a class="btn btn-outline-info" href=" {% url 'question' %} ">Deneye Başla!</a>

		    	{% else %}

		    		<a class="btn btn-outline-info"  href=" {% url 'warmup_question' %} ">Isınma Turuna Başla!</a>

		    	{% endif %}


		    </div>

		  </div>
		</article>	

		

	</div>
	
{% endblock content %}
