{% extends 'game/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

	<div class="content" style="left: 30px">

        <h1 display="inline" float="left">{{question_index}}/10:</h1>
        
    </div>

	<div>

		<div class="box">

			<h2 class="mode_label_heading">
        
	           Isındırma Turu

	        </h2>


		</div>

		<div class="profquestiondesc">

			<div class="centeritems">

				<p>Aşağıdaki cümledeki altı çizili kelimenin yazımı doğru mudur?</p>


			</div>	

		</div>


		<div class="questiondiv">

			<div class="centeritems">

				{% for entry in labeled_words %}

	                {% if entry.label == True %}

	                    <u>{{entry.word}}</u>

	                {% else %}

	                    {{entry.word}}

	                {% endif %}

	            {% endfor  %}
				
			</div>

			<br>

			<div class="centeritems">

	            <form method="POST">
	                {% csrf_token %}

	                <button type="submit" name="answer" value="true" class="btn btn-outline-info mb-4">Doğru</button>
	                <button type="submit" name="answer" value="false" class="btn btn-outline-info mb-4">Yanlış</button>

	            </form>

	        </div>

		</div>



	</div>

	

	
	
{% endblock content %}
