{% extends 'game/base.html' %}
{% block content %}
	
	<p style="font-size:30px"> 

		{{ half_text }} <b>({{clitic}})</b>

		{% for hint in hints %}

			{{ hint }}

		{% endfor %}

	</p>


	<form method="POST">
 		{% csrf_token %}

 		<button type="submit" name="name" value="ADJACENT" class="btn btn-outline-info mb-4">Bitişik Yazılmalı</button>
 		<button type="submit" name="name" value="SEPARATE" class="btn btn-outline-info mb-4">Ayrı Yazılmalı</button>
 		<button type="submit" name="name" value="HINT" class="btn btn-outline-info mb-4">İpucu Ver</button>
 		<button type="submit" name="name" value="SKIP" class="btn btn-outline-info mb-4">Bu cümleyi geç</button>

	</form>
	
{% endblock content %}
