{% extends 'game/base.html' %}
{% load static %}
{% block content %}


	<div class="content">

		<h3>{{question_num}} : {{mode}} </h3>

		<img height="315" width="306" src="{% static 'game/canary-bird.png' %}" >

	</div>

	

	<div class="progressdiv">

		<h4> Success Rate </h4>

		<div class="progress">

 			<div class="progress-bar progress-bar-danger" style="width: {{ success_rate }}%;">
 
 				{{ success_rate }}
 
 			</div>
 		</div>

 		<div>

			<p>  {{ correct_answer_count }}/ {{ last_seen_sentence_idx }} </p>

		</div>	

	</div>

	<div class="questiondiv" style="z-index: 2">

		<div class="centeritems">

			<p style="font-size:30px">

				{% if mode == "MODE_1" %}

					{{ first_half_text }} (<b>{{deda_adjacent}} vs {{deda_separate}}</b>)

					{% for hint in hints %}

						{{ hint }}

					{% endfor %}
					

				{% elif mode == "MODE_2" %}
 
					(<b>{{deda_adjacent}} vs {{deda_separate}}</b>) {{ second_half_text }}

				{% elif mode == "MODE_3" %}

					<b>({{clitic}})</b> {{ second_half_text }}

				{% endif %}

				<!--
				{{ first_half_text }} <b>({{clitic}})</b>

				{% for hint in hints %}

					{{ hint }}

				{% endfor %}
				-->

			</p>

		</div>

		<div class="centeritems">

			<form method="POST">
		 		{% csrf_token %}

		 		<button type="submit" name="name" value="ADJACENT" class="btn btn-outline-info mb-4">Bitişik Yazılmalı</button>
		 		<button type="submit" name="name" value="SEPARATE" class="btn btn-outline-info mb-4">Ayrı Yazılmalı</button>
		 		<button type="submit" name="name" value="HINT" class="btn btn-outline-info mb-4">İpucu Ver</button>
		 		<button type="submit" name="name" value="SKIP" class="btn btn-outline-info mb-4">Bu cümleyi geç</button>

			</form>

		</div>		

	</div>

	
	

	
	
{% endblock content %}
