{% extends 'game/base.html' %}
{% block content %}

	<table>
	    <tr>
	        <th>Index</th>
	        <th>Mode N</th>
	        <th>Decision Count</th>
	        <th>Text</th>
	    </tr>

	    {% for sentence in page_obj %}
		    <tr> 
		        <td>{{ sentence.index }}</td>
		        <td>{{ sentence.mode }}</td>
		        <td>{{ sentence.decision_count }}</td>
		        <td>{{ sentence.text }}</td>
		    </tr>
		{% endfor %}
	</table>


	

	<div class="pagination">
	    <span class="step-links">
	        {% if page_obj.has_previous %}
	            <a href="?page=1">&laquo; first</a>
	            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
	        {% endif %}

	        <span class="current">
	            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	        </span>

	        {% if page_obj.has_next %}
	            <a href="?page={{ page_obj.next_page_number }}">next</a>
	            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
	        {% endif %}
	    </span>
	</div>
	<!--
	<div>

		<table>
		    <tr>
		        <th>Index</th>
		        <th>Mode N</th>
		        <th>Decision Count</th>
		        <th>Text</th>
		    </tr>
		    {% for sentence in sentences %}
		    <tr> 
		        <td>{{ sentence.index }}</td>
		        <td>{{ sentence.mode }}</td>
		        <td>{{ sentence.decision_count }}</td>
		        <td>{{ sentence.text }}</td>
		    </tr>
		    {% endfor %}
		</table>

	</div>-->

	
	

	
	
{% endblock content %}
