{% extends 'game/base.html' %}
{% block content %}

	<div align="center">

		<!--<h2>Test bitti, çok teşekkürler!</h2>-->

		<br>
		<br>

		<h5>Eğer keyif aldıysan ve bize yardımcı olmaya devam etmek istersen bir test daha çözebilirsin.</h5>
		<h5>Ya da istersen şimdi çıkış yapıp daha sonra tekrar gelerek test çözmeye devam edebilirsin.</h5>
		<h4></h4>

		<br>
		<br>

		<a class="btn btn-outline-info" href=" {% url 'question' %} ">Yeni teste başla!</a>

		<br>
		<br>
		<br>
		<br>


		<h5>Ayrıca istersen "de/da" yazım hatalarını tespit eden yazım denetleyicimizi de deneyebilirsin!</h5>

		<br>

		<a class="btn btn-outline-info" href=" {% url 'spellchecker_query' %} ">Yazım denetleyicisine git.</a>

	</div>

	
	
{% endblock content %}
