{% extends 'game/base.html' %}
{% load static %}
{% block content %}

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <div class="upperside">
        
        <div style=" width:25%; float:left;">

            <h1>{{question_idx}}/{{QUESTION_PER_TEST}}:</h1>

        </div>

        

        <div align="center" style="width:50%; float:left;">
            <div class="progress">

            
            {% if question_idx > 0 %}

                {% if question_idx <= 1 %}

                    {% with ''|center:question_idx as range %}
                        {% for bar in range %}
                            <div class="progress-bar" role="progressbar" style="width:14.28%; background-color: #8e44ad  !important;">|</div>
                        {% endfor %}
                    {% endwith %}

                {% else %}

                    {% for i in '0'|make_list %}
                        <div class="progress-bar" role="progressbar" style="width:14.28%;  background-color: #8e44ad  !important;">|</div>
                    {% endfor %}

                {% endif %}

            {% endif %}

            {% if question_idx > 1 %}

               
                {% if question_idx <= 2 %}

                    
                    {% with bar_num=question_idx|add:"-1" %}

                        {% with ''|center:bar_num as range %}
                            {% for bar in range %}
                                <div class="progress-bar" role="progressbar" style="width:14.28%;  background-color: #2a4ff6  !important;">|</div>
                            {% endfor %}
                        {% endwith %}


                    {% endwith %}

                    
                {% else %}
                    
                    {% for i in '0'|make_list %}
                        <div class="progress-bar" role="progressbar" style="width:14.28%;  background-color: #2a4ff6  !important;">|</div>
                    {% endfor %}

                {% endif %}


            {% endif %}

            {% if question_idx > 2 %}

               
                {% if question_idx <= 3 %}

                    
                    {% with bar_num=question_idx|add:"-2" %}

                        {% with ''|center:bar_num as range %}
                            {% for bar in range %}
                                <div class="progress-bar bg-success" role="progressbar" style="width:14.28%;  background-color: #239b56  !important;">|</div>
                            {% endfor %}
                        {% endwith %}


                    {% endwith %}

                    
                {% else %}
                    
                    {% for i in '0'|make_list %}
                        <div class="progress-bar bg-success" role="progressbar" style="width:14.28%;  background-color: #239b56  !important;">|</div>
                    {% endfor %}

                {% endif %}


            {% endif %}

            {% if question_idx > 3 %}

               
                {% if question_idx <= 4 %}

                    
                    {% with bar_num=question_idx|add:"-3" %}

                        {% with ''|center:bar_num as range %}
                            {% for bar in range %}
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:14.28%;  background-color: #f4d03f  !important;">|</div>
                            {% endfor %}
                        {% endwith %}


                    {% endwith %}

                    
                {% else %}
                    
                    {% for i in '0'|make_list %}
                        <div class="progress-bar progress-bar-success" role="progressbar" style="width:14.28%;  background-color: #f4d03f  !important;">|</div>
                    {% endfor %}

                {% endif %}


            {% endif %}

            {% if question_idx > 4 %}

               
                {% if question_idx <= 5 %}

                    
                    {% with bar_num=question_idx|add:"-4" %}

                        {% with ''|center:bar_num as range %}
                            {% for bar in range %}
                                <div class="progress-bar bg-warning" role="progressbar" style="width:14.28%;  background-color: #e67e22
      !important;">|</div>
                            {% endfor %}
                        {% endwith %}


                    {% endwith %}

                    
                {% else %}
                    
                    {% for i in '0'|make_list %}
                        <div class="progress-bar bg-warning" role="progressbar" style="width:14.28%;  background-color: #e67e22
      !important;">|</div>
                    {% endfor %}

                {% endif %}


            {% endif %}

            {% if question_idx > 5 %}

               
                {% if question_idx <= 6 %}

                    
                    {% with bar_num=question_idx|add:"-5" %}

                        {% with ''|center:bar_num as range %}
                            {% for bar in range %}
                                <div class="progress-bar bg-danger" role="progressbar" style="width:14.28%;  background-color: red  !important;">|</div>
                            {% endfor %}
                        {% endwith %}


                    {% endwith %}

                    
                {% else %}
                    
                    {% for i in '0'|make_list %}
                        <div class="progress-bar bg-danger" role="progressbar" style="width:14.28%   ; background-color: red  !important;">|</div>
                    {% endfor %}

                {% endif %}


            {% endif %}

            {% if question_idx > 6 %}

               
                {% if question_idx <= 7 %}

                    
                    {% with bar_num=question_idx|add:"-6" %}

                        {% with ''|center:bar_num as range %}
                            {% for bar in range %}
                                <div class="progress-bar bg-danger" role="progressbar" style="width:14.28%;  background-color: #b40000  !important;">|</div>
                            {% endfor %}
                        {% endwith %}


                    {% endwith %}

                    
                {% else %}
                    
                    {% for i in '0'|make_list %}
                        <div class="progress-bar bg-danger" role="progressbar" style="width:14.28%   ; background-color: #b40000  !important;">|</div>
                    {% endfor %}

                {% endif %}


            {% endif %}

            </div>
        </div>

        <br  style="clear: left;" />
        

    </div>

    <!--
    <div class="rightbox">

        <img class="img_help2" src="{% static 'game/question_mark.png' %}" >
        <span class="tooltiptext2"> {{mode_description}} </span>

    </div>
    -->

    <div class="central">

        <div class="centeritems">

            <p style="font-size:18px">{{mode_description}}</p>

        </div> 

        <div style="border-radius: 25px; border: 2px solid #73AD21;">

            <div class="centeritems">

                <p style="font-size:30px">

                    {% if mode == "MODE_0" %}

                        <div class='branch_view'>

                            <div class='left_container'>
                                <span class='left_text text'>{{first_text}}</span>
                            </div>

                                <div class='right_container'>
                                    
                                    
                                    <div class='small_container'>     
                                        <span><b>&#8599;   {{deda_adjacent}}   &#8600;</b></span>            
                                    </div>
                                    <div class='small_container'>

                                        <span><b>&#8600;   {{deda_separate}}   &#8599;</b></span>
                                                              
                                    </div>
                                    
                                </div>

                            <div class='left_container'>
                                <span class='left_text text'>{{second_text}}</span>
                            </div>
                            
                        </div>

                    {% elif mode == "MODE_1" %}

                        {% if type == "TYPE_1" %}

                            <div class='branch_view'>

                                <div class='left_container'>
                                    <span class='left_text text'> {{ first_text }} </span>
                                </div>

                                <div class='right_container'>

                                    <div class='small_container'>     
                                        <span><b>&#8599;   ______{{clitic}}   &#8600;</b></span>            
                                    </div>

                                    <div class='small_container'>

                                        <span><b>&#8600;   ______&nbsp;&nbsp;{{clitic}}   &#8599;</b></span>
                                                              
                                    </div>

                                </div>

                                <div class='left_container'>
                                    <span class='left_text text'> {{ second_text }} </span>
                                </div>

                            </div>

                        {% elif type == "TYPE_2" %}


                            <div class='branch_view'>

                                <div class='left_container'>
                                    <span class='left_text text'> {{ first_text }} ______ {{ second_text }} </span>
                                </div>

                                <div class='right_container'>
                                    
                                    <div class='small_container'>     
                                        <span><b>&#8599;   {{deda_adjacent}}   &#8600;</b></span>            
                                    </div>
                                    <div class='small_container'>

                                        <span><b>&#8600;   {{deda_separate}}   &#8599;</b></span>
                                                              
                                    </div>


                                </div>

                                <div class='left_container'>
                                    <span class='left_text text'> {{ third_text }} </span>
                                </div>

                            </div>

                        {% elif type == "TYPE_3" %}

                            <div class='branch_view'>

                                <div class='left_container'>
                                    <span class='left_text text'> {{ first_text }} </span>
                                </div>

                                <div class='right_container'>
                                    
                                    
                                    <div class='small_container'>     
                                        <span><b>&#8599;   {{deda_adjacent}}   &#8600;</b></span>            
                                    </div>
                                    <div class='small_container'>

                                        <span><b>&#8600;   {{deda_separate}}   &#8599;</b></span>
                                                              
                                    </div>
                                    
                                </div>

                                <div class='left_container'>
                                    <span class='left_text text'> {{ second_text }} _______ {{ third_text }} </span>
                                </div>

                            </div>
                        {% endif %}

                    {% elif mode == "MODE_2" %}

                        <div class='branch_view'>

                            <div class='left_container'>
                                <span class='left_text text'>{{first_half_text}}</span>
                            </div>

                                <div class='right_container'>
                                    
                                    
                                    <div class='small_container'>     
                                        <span><b>&#8599;   {{deda_adjacent}}   &#8600;</b></span>            
                                    </div>
                                    <div class='small_container'>

                                        <span><b>&#8600;   {{deda_separate}}   &#8599;</b></span>
                                                              
                                    </div>
                                    
                                </div>

                            <div class='left_container'>
                                <span class='left_text text'>

                                    &emsp;*&emsp;*&emsp;*&emsp;

                                </span>
                            </div>
                            
                        </div>
     
                    {% elif mode == "MODE_3" %}

                        <div class='branch_view'>

                            <div class='left_container'>
                                <span class='left_text text'>&emsp;*&emsp;*&emsp;*&emsp;</span>
                            </div>

                                <div class='right_container'>
                                    
                                    
                                    <div class='small_container'>     
                                        <span><b>&#8599;   {{deda_adjacent}}   &#8600;</b></span>            
                                    </div>
                                    <div class='small_container'>

                                        <span><b>&#8600;   {{deda_separate}}   &#8599;</b></span>
                                                              
                                    </div>
                                    
                                </div>

                            <div class='left_container'>
                                <span class='left_text text'>{{ second_half_text }}</span>
                            </div>

                        </div>


                    {% elif mode == "MODE_4" %}

                        <div class='branch_view'>

                            <div class='left_container'>
                                <span class='left_text text'>&emsp;*&emsp;*&emsp;*&emsp;</span>
                            </div>

                                <div class='right_container'>

                                    <div class='small_container'>     
                                        <span><b>&#8599;   ______{{clitic}}   &#8600;</b></span>            
                                    </div>

                                    <div class='small_container'>

                                        <span><b>&#8600;   ______&nbsp;&nbsp;{{clitic}}   &#8599;</b></span>
                                                              
                                    </div>

                                </div>

                            <div class='left_container'>
                                <span class='left_text text'>{{ second_half_text }}</span>
                            </div>
                        </div>

                    {% elif mode == "MODE_5" %}

                        <div class='branch_view'>

                            <div class='left_container'>
                                <span class='left_text text'>{{first_text}}</span>
                            </div>

                                <div class='right_container'>

                                    <div class='small_container'>     
                                        <span><b>&#8599;   ______{{clitic}}   &#8600;</b></span>            
                                    </div>

                                    <div class='small_container'>

                                        <span><b>&#8600;   ______&nbsp;&nbsp;{{clitic}}   &#8599;</b></span>
                                                              
                                    </div>

                                </div>

                            <div class='left_container'>
                                <span class='left_text text'>&emsp;*&emsp;*&emsp;*&emsp;</span>
                            </div>
                        </div>

                    {% elif mode == "MODE_6" %}

                        {% if type == "TYPE_1" %}

                            <div class='branch_view'>

                                <div class='left_container'>
                                    <span class='left_text text'>

                                        {% with ''|center:first_masked_num as range %}
                                            {% for masked_word in range %}

                                                ____&nbsp;

                                            {% endfor %}
                                        {% endwith %}

                                    </span>
                                </div>

                                <div class='right_container'>
                                    
                                    
                                    <div class='small_container'>     
                                        <span><b>&#8599;   {{deda_adjacent}}   &#8600;</b></span>            
                                    </div>
                                    <div class='small_container'>

                                        <span><b>&#8600;   {{deda_separate}}   &#8599;</b></span>
                                                              
                                    </div>
                                    
                                </div>

                                <div class='left_container'>
                                    <span class='left_text text'> 

                                        {% with ''|center:second_masked_num as range %}
                                            {% for masked_word in range %}

                                                ____&nbsp;

                                            {% endfor %}
                                        {% endwith %}

                                    </span>
                                </div>

                            </div>

                        {% elif type == "TYPE_2" %}


                            <div class='branch_view'>

                                <div class='left_container'>
                                    <span class='left_text text'> 

                                        {% with ''|center:first_masked_num as range %}
                                            {% for masked_word in range %}

                                                ____&nbsp;

                                            {% endfor %}
                                        {% endwith %}

                                        {{ unmasked_word }}

                                        {% with ''|center:second_masked_num as range %}
                                            {% for masked_word in range %}

                                                ____&nbsp;

                                            {% endfor %}
                                        {% endwith %}

                                    </span>
                                </div>

                                <div class='right_container'>

                                    <div class='small_container'>     
                                        <span><b>&#8599;   ______{{clitic}}   &#8600;</b></span>            
                                    </div>

                                    <div class='small_container'>

                                        <span><b>&#8600;   ______&nbsp;&nbsp;{{clitic}}   &#8599;</b></span>
                                                              
                                    </div>

                                </div>

                                <div class='left_container'>
                                    <span class='left_text text'>

                                        {% with ''|center:third_masked_num as range %}
                                            {% for masked_word in range %}

                                                ____&nbsp;

                                            {% endfor %}
                                        {% endwith %}

                                    </span>
                                </div>

                            </div>

                        {% elif type == "TYPE_3" %}

                            <div class='branch_view'>

                                <div class='left_container'>
                                    <span class='left_text text'>

                                        {% with ''|center:first_masked_num as range %}
                                            {% for masked_word in range %}

                                                ____&nbsp;

                                            {% endfor %}
                                        {% endwith %}

                                    </span>
                                </div>

                                <div class='right_container'>

                                    <div class='small_container'>     
                                        <span><b>&#8599;   ______{{clitic}}   &#8600;</b></span>            
                                    </div>

                                    <div class='small_container'>

                                        <span><b>&#8600;   ______&nbsp;&nbsp;{{clitic}}   &#8599;</b></span>
                                                              
                                    </div>

                                </div>

                                <div class='left_container'>
                                    <span class='left_text text'>

                                        {% with ''|center:second_masked_num as range %}
                                            {% for masked_word in range %}

                                                ____&nbsp;

                                            {% endfor %}
                                        {% endwith %}

                                        {{ unmasked_word }}

                                        {% with ''|center:third_masked_num as range %}
                                            {% for masked_word in range %}

                                                ____&nbsp;

                                            {% endfor %}
                                        {% endwith %}

                                    </span>
                                </div>

                            </div>
                        {% endif %}

                    {% endif %}
                </p>

            </div>

            <div class="centeritems">

                <form method="POST">
                    {% csrf_token %}

                    <button type="submit" name="name" value="ADJACENT" class="btn btn-outline-info mb-4">Bitişik Yazılmalı</button>
                    <button type="submit" name="name" value="SEPARATE" class="btn btn-outline-info mb-4">Ayrı Yazılmalı</button>
                    <button type="submit" name="name" value="INDECISIVE" class="btn btn-outline-info mb-4">Karar Verilemez</button>
                    <button type="submit" name="name" value="SKIP" class="btn btn-outline-info mb-4">Bu cümleyi geç</button>

                </form>

            </div>      

        </div>

    </div>

    

    
    

    
    
{% endblock content %}
