{% extends 'game/base.html' %}
{% block content %}

	<div class="container">

		<article class="media content-section">
		  <div class="media-body">
		    <!--<h2><a class="article-title" href="#">Onam Formu</a></h2>-->
		    <h2 style="text-align:center" >Hoşgeldiniz</h2>
		    <p class="article-content">

		    	Merhabalar,

				Türkçedeki “de/da” ek ve bağlaçlarının kullanımını etkileyen faktörleri araştırdığımız deneyimize hoş geldiniz.

				Araştırma ekibimiz tarafından Boğaziçi Üniversitesi Bilgisayar Mühendisliği çatısı altında "de/da" yazım hatalarını tespit edebilen bir yapay zeka modeli geliştirildi. Şimdi ise "de/da" yazım hatası tespit problemini ve bunu çözen modelin kararlarını daha iyi anlamak üzere sizlerin yardımıyla bir deney yapmayı hedefliyoruz.

				İsterseniz deneyimize katılmadan önce üstteki "Yazım Denetleyicisi" butonuna basarak daha önceden geliştirdiğimiz modeli deneyebilirsiniz.

				Eğer daha önce kayıt olmadıysanız kayıt olarak deneye başlayabilir, eğer kayıt olmuşsanız giriş yaparak deneye kaldığınız yerden devam edebilirsiniz.

				İyi eğlenceler :)


		    </p>

		    <div style="text-align: center">
		    	
		    	<a class="btn btn-outline-info" href=" {% url 'login' %} ">Giriş Yap</a>
		    	<a class="btn btn-outline-info" href=" {% url 'register' %} ">Kayıt Ol</a>

		    </div>

		  </div>
		</article>	

		

	</div>
	
{% endblock content %}
