{% extends 'game/base.html' %}
{% block content %}

	<div class="container">

		<article class="media content-section">
		  <div class="media-body">
		    <!--<h2><a class="article-title" href="#">Onam Formu</a></h2>-->
		    <h2 style="text-align:center" >Hoşgeldiniz</h2>
		    <p class="article-content">

		    	Merhabalar,         

				Türkçedeki “de/da” ek ve bağlaçlarının yanlış kullanımını etkileyen faktörleri araştırdığımız deneyimize hoş geldiniz.

				Araştırma ekibimiz tarafından Boğaziçi Üniversitesi Bilgisayar Mühendisliği çatısı altında yapay zeka yöntemleri kullanarak "de/da" yazım hatalarını tespit eden bir bilgisayar uygulaması <a href="https://acl-bg.org/proceedings/2019/RANLP%202019/pdf/RANLP009.pdf">geliştirilmişti.</a>  Şimdi ise "de/da" yazım hatalarının doğasını ve geliştirdiğimiz uygulamanın kararlarını daha iyi anlamak amacıyla bir deney yapıyoruz.

				İsterseniz deneyimize katılmadan önce <a href="{% url 'spellchecker_query' %}">"de-da Yazım Denetleyicisi"</a> sayfasında geliştirdiğimiz uygulamayı deneyebilirsiniz.

				Eğer daha önce kayıt olmadıysanız <a href="{% url 'register' %}">kayıt olarak</a> deneye başlayabilir, eğer kayıt olmuşsanız <a href="{% url 'login' %}">giriş yaparak</a> deneye kaldığınız yerden devam edebilirsiniz.     


		    </p>

		    <div style="text-align: center">
		    	
		    	<a class="btn btn-outline-info" href=" {% url 'login' %} ">Giriş Yap</a>
		    	<a class="btn btn-outline-info" href=" {% url 'register' %} ">Kayıt Ol</a>

		    </div>

		  </div>
		</article>	

		

	</div>
	
{% endblock content %}
